export(braidCompilePPT)
export(braidpptNew)
export(braidpptNewSlide)
export(isCOMsupported)
export(msTemplatePath)
export(pptClose)
export(pptInsertImage)
export(pptNew)
export(pptNewSlide)
export(pptSave)
