S3method(braidCompile,braidppt)
export(as.braidppt)
export(braidCompilePPT)
export(braidpptClose)
export(braidpptInsertImage)
export(braidpptNew)
export(braidpptNewSlide)
export(braidpptPlot)
export(braidpptSave)
export(is.braidppt)
export(isCOMsupported)
export(msTemplatePath)
export(pptClose)
export(pptInsertImage)
export(pptNew)
export(pptNewSlide)
export(pptOpen)
export(pptSave)
import(braid)
